<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Login Token</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>defaults</key>
			<string>com.cryptic.jbicuprefs</string>
			<key>key</key>
			<string>token</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>label</key>
			<string>Token</string>
			<key>placeholder</key>
			<string>Token</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Login</string>
			<key>action</key>
			<string>login</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>icon</key>
			<string>Service-GitHub.png</string>
			<key>action</key>
			<string>openGitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>icon</key>
			<string>Service-Twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Website</string>
			<key>icon</key>
			<string>Service-Website.png</string>
			<key>action</key>
			<string>openWebsite</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>icon</key>
			<string>Service-Reddit.png</string>
			<key>action</key>
			<string>openReddit</string>
		</dict>
	</array>
	<key>title</key>
	<string>JelbrekICU</string>
</dict>
</plist>
